.App {
  padding: 60px 0 100px;
  max-width: 960px;
  margin: 0 auto;
}

body {
  background: #f9f1f1;
  font-family: "Quicksand", sans-serif;
  color: #3c3742;
}

a {
  color: #ff6278;
}

.App-header h1 {
  text-align: center;
  margin: 20px;
  font-size: 46px;
  font-weight: 700;
  color: #51479a;
}

.App-logo {
  max-width: 120px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  font-size: 12px;
}
